@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
}

:root {
    font-size: 100%;
    text-transform: uppercase;

    --headerFont: 'Oswald', sans-serif;
    --regularFont: 'Roboto Slab', serif;

    --headerLarge: 3em;
    --headerMedium: 2em;
    --headerSmall: 1em;

    --textSizeRegular: 0.9em;
    --textSizeSmall: 0.5em;

    --bgcol: #364765;
    --bgcolBox: rgba(255,255,255,0.1);

    --boxBorderRadius: 25px 25px 0 0;
    --boxshadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

    --titlecol: #fff;
    --gameoverCol: rgba(255,0,0,0.5);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: rgba(255,255,255,0.5);
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: rgba(255,255,255,0.5);
}

::-ms-input-placeholder { /* Microsoft Edge */
color: rgba(255,255,255,0.5);
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--bgcol);
}

header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.headertitle {
    margin: 0;
    padding: 0;
    font-family: var(--headerFont);
    font-size: var(--headerLarge);
    font-size: clamp(var(--headerSmall), 5vw, var(--headerLarge));
    text-align: center;
    word-spacing: 0.4em;
    letter-spacing: 0.3em;
    color: var(--titlecol);
}

main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 1900px;
}

.byline {
    margin: 2em 0 0 0;
    padding: 0;
    font-family: var(--regularFont);
    font-size: var(--textSizeRegular);
    font-size: clamp(var(--textSizeSmall), 3vw, var(--textSizeRegular));
    color: var(--titlecol);
}

.main-boxshadow {
    border-radius: var(--boxBorderRadius);
    box-shadow: var(--boxshadow);
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 280px;
    min-height: 100vh;
    margin: 0;
    padding: 0 2em;
    background-image:linear-gradient(to bottom, black, transparent, black);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.buttonwrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}


.button {
    cursor: pointer;
    font-family: var(--headerFont);
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: transparent;
    transition: background-color 1s ease-out;
    font-size: var(--headerMedium);
    font-size: clamp(var(--headerSmall), 5vw, var(--headerMedium));
}
.button:not(.nohover):hover {
    color: red;
    background-color: #eee;
}

.startscreen button {
    font-size: var(--headerLarge);
    font-size: clamp(var(--headerMedium), 5vw, var(--headerLarge));
}

.gamescreen {
    display: none;
    flex-flow: column nowrap;
    background-color: var(--bgcolBox);
    width: 100%;
}

.controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
}

.loadingscreen, .startscreen {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2em 0;
}

.slidercontainer {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.slidercontainer h1 {
    margin: 0;
    padding: 0;
    font-family: var(--headerFont);
    font-size: var(--headerMedium);
    font-size: clamp(var(--headerSmall), 3vw, var(--headerMedium));
}

.loadertext {
    width: 90%;
    font-family: var(--regularFont);
    font-size: 1.5em;
    font-size: clamp(0.8em, 4vw, 1.5em);
    font-weight: 700;
    text-align: center;
    padding: 0;
    margin: 0;
}


#skipbutton {
    margin-top: 4em;
}


.controls, .loadingscreen, .startscreen {
    min-height: 40vh;
}


.loader
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(0,-25%);
    font-family: var(--headerFont);
    font-size: var(--headerLarge);
    font-size: clamp(var(--headerMedium), 5vw, var(--headerLarge));
    border: 16px solid #f3f3f3;
    width: 2.5em;
    height: 2.5em;
    border-radius:50%;
    text-align:center;
}
.loader:before
{
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    border: 16px solid transparent;
    border-top: 16px solid #3498db;
    border-radius:50%;
    animation: animate 0.5s linear infinite;
}

#levelslider {
    max-width: 500px;
}

#counter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

#resultmessage {
    margin: 0;
    padding: 0;
    font-family: var(--headerFont);
    font-size: var(--headerLarge);
    font-size: clamp(var(--headerMedium), 5vw, var(--headerLarge));
    text-align: center;
    color: rgba(0,0,0,0.8);
    letter-spacing: 0.2em;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.35), transparent);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#inputfield {
    width: 95%;
    align-self: center;
    font-family: var(--headerFont);
    font-size: var(--headerLarge);
    font-size: clamp(var(--headerSmall), 4vw, var(--headerLarge));
    padding-left: 0.5em;
    border: 0;
    background-color: transparent;
    color: gold;
    background-image: linear-gradient(to right, transparent, gold, transparent), linear-gradient(to right, transparent, gold, transparent), linear-gradient(to right, transparent, rgba(0, 0, 0, 0.35), transparent);
    background-repeat: no-repeat;
    background-position: center bottom, center top, center;
    background-size: 100% 2px, 100% 2px, cover;
    box-shadow: var(--boxshadow);
    text-shadow: 2px 2px #000;
    text-align: center;
}

#randomdisplay {
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(auto-fill, 72px);
    grid-gap: 5px;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.35);
    box-shadow: var(--boxshadow);
}


.image {
    width: 70px;
    height: auto;
    opacity: 1;
    transition: opacity 3s;
}

.image-hide {
    opacity: 0;
}


.hide {
    display: none;
}

.show {
    display: flex;
}

.gameover {
    background-color: var(--gameoverCol);
}






input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }



  
@keyframes animate
{
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}



@media only screen and (max-width: 768px) {
    .image {
        width: 30px;
    }
    #randomdisplay {
        grid-template-columns: repeat(auto-fill, 32px);
        grid-gap: 2px;
    }
}