@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
}

:root {
    font-size: 100%;

    --headerFont: 'Oswald', sans-serif;
    --regularFont: 'Roboto Slab', serif;

    --headerLarge: 3em;
    --headerMedium: 2em;
    --headerSmall: 1em;

    --bgcol: #364765;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--bgcol);
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(to bottom, black, transparent, black);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.startscreen button {
    cursor: pointer;
    font-family: var(--headerFont);
    font-size: var(--headerLarge);
    text-transform: uppercase;
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: transparent;
    transition: background-color 1s ease-out;
}
.startscreen button:hover {
    color: red;
    background-color: #eee;
}

.gamescreen {
    display: none;
    flex-flow: column nowrap;
    background-color: green;
    width: 100%;

}

#testdisplay {
    color:red;
}

#resultmessage {
    margin: 0;
    padding: 0;
    font-family: var(--headerFont);
    font-size: var(--headerLarge);
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

#inputfield {
    font-family: var(--headerFont);
    font-size: var(--headerLarge);
}

#randomdisplay {
    background-color: #000;
    display: flex;
    flex-flow: row nowrap;
    /*
    gap: 0.5em;
    */
}


.image {
    background-color: black;
    width: 70px;
    height: auto;
    opacity: 1;
    transition: opacity 3s;
}

.image-hide {
    opacity: 0.2;
}


.hide {
    display: none;
}

.show {
    display: flex;
}

.gameover {
    background-color: red;
}