
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#testdisplay {
    color:red;
}


#randomdisplay {
    background-color: #000;
    display: flex;
    flex-flow: row nowrap;
    /*
    gap: 0.5em;
    */
}


.image {
    background-color: black;
    width: 70px;
    height: auto;
    opacity: 1;
    transition: opacity 3s;
}

.image-hide {
    opacity: 0.2;
}